@use "../../assets/styles/variables";

.pagination_list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 1023px) {
    margin-top: 2%;
  }

  &_item {
    all: unset;
    cursor: pointer;
    padding: 1% 2%;
    border-radius: 0.5rem;
  }
}
