@use "../../assets/styles/variables";

.character {
  width: 80%;
  margin: 5% auto 10% auto;
  font-size: 1.3rem;
  background-color: var(--secondary-bg);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;

  &_section {
    width: 80%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      margin-top: 10%;
      font-size: 3rem;
    }

    &_img {
      width: 30%;
      margin: auto;
    }

    &_details {
      width: 100%;
      display: grid;
      grid-template-columns: 0.75fr 1.25fr;
      grid-template-rows: auto;
      row-gap: 10%;

      span {
        font-weight: bold;
      }
    }

    &_buttons {
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      button {
        padding: 5% 7.5%;
      }
    }
  }
}
