@use "../../../assets/styles/variables";

.gender {
  width: 50%;
  margin-top: 2%;
  border: none;

  &_legend {
    margin-bottom: 2%;
    font-size: 1.2rem;
  }

  &_choices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &_label {
      width: 15%;
      margin: 1%;
    }
  }
}
