.character_card {
  width: 100%;
  margin: 1% 0%;
  padding: 0.5% 2%;
  background-color: var(--secondary-bg);
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid transparent;
  border-radius: 1rem;

  @media (max-width: 1023px) {
    height: 100%;
    padding: 3% 1% 6% 1%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 600px) {
    width: 90%;
    margin: 2% auto;
    font-size: 0.9rem;
  }

  @media (min-width: 1920px) {
    font-size: 1.4rem;
  }

  @media (min-width: 2560px) {
    font-size: 1.6rem;
  }

  &_img {
    width: 7.5%;

    @media (max-width: 1023px) {
      width: 25%;
      margin-bottom: 5%;
    }
  }

  &_name {
    width: 30%;
    font-size: 1.4rem;

    @media (max-width: 1023px) {
      font-size: 1.2rem;
    }

    @media (max-width: 600px) {
      font-size: 0.1rem;
    }

    @media (min-width: 1920px) {
      font-size: 1.5rem;
    }

    @media (min-width: 2560px) {
      font-size: 1.6rem;
    }
  }

  &_breed {
    width: 20%;
  }

  &_level {
    width: 20%;
  }

  &_actions {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1023px) {
      width: 60%;
      margin-top: 5%;
    }

    &_button {
      width: 40%;
      padding: 10% 2%;

      @media (max-width: 1023px) {
        width: 30%;
        padding: 5% 1%;
      }
    }
  }

  &_container {
    width: 95%;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }

    span {
      font-weight: bold;

      @media (max-width: 600px) {
        margin-right: 2%;
      }
    }
  }
}

.character_card:hover {
  border: 3px solid var(--selection-border);
}
