.profile {
  width: 95%;
  margin: 1% auto 3% auto;
  min-height: auto;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 600px) {
    margin: auto;
  }

  @media (min-width: 1920px) {
    width: 75%;
    font-size: 1.3rem;
  }

  @media (min-width: 2560px) {
    width: 65%;
    font-size: 1.5rem;
  }

  &_section {
    width: 100%;

    @media (max-width: 1023px) {
      margin-bottom: 2%;
    }

    &_title {
      width: 100%;
      margin: 2% 0%;
      background-color: var(--secondary-bg);
      font-size: 1.5rem;
      border-radius: 0.5rem;

      @media (max-width: 1023px) {
        font-size: 1.4rem;
      }

      @media (max-width: 600px) {
        font-size: 1.3rem;
      }

      @media (min-width: 1920px) {
        font-size: 1.7rem;
      }

      @media (min-width: 2560px) {
        font-size: 2rem;
      }
    }

    &_details {
      width: 100%;
      margin-bottom: 2%;
      font-size: 1.3rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: 1023px) {
        font-size: 1rem;
      }

      @media (max-width: 600px) {
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
      }

      &_info {
        width: 30%;

        @media (max-width: 600px) {
          width: 45%;
        }
      }
    }

    &_actions {
      width: 100%;
      font-size: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1023px) {
        font-size: 0.8rem;
      }

      &_button {
        width: 30%;
        margin: 1%;
        padding: 2% 0%;
        font-size: 1rem;

        @media (max-width: 600px) {
          width: 45%;
          font-size: 0.8rem;
        }

        @media (min-width: 1920px) {
          font-size: 1.3rem;
        }

        @media (min-width: 2560px) {
          font-size: 1.4rem;
        }
      }
    }

    &_list {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;

      @media (max-width: 1023px) {
        margin-top: 1%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 2%;
        row-gap: 2%;
      }

      @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
      }
    }
  }
}
