@use "../../assets/styles/variables";

.header {
  width: 100vw;
  height: 14vh;
  margin: 2% 1% 3% 1%;
  display: flex;
  align-items: center;

  @media (max-width: 1023px) {
    height: 200px;
    margin: 1% 0% 2% 0%;
    flex-direction: column;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: 175px;
  }

  @media (min-width: 1920px) {
    height: 15vh;
  }

  @media (min-width: 2560px) {
    height: 17.5vh;
  }

  &_link {
    width: 17.5%;
    height: 100%;

    @media (max-width: 600px) {
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_logo {
      width: 100%;
      height: 100%;
      margin-right: 2.5%;
      background-image: url("/dofusgroup_logo_plein.webp");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      font-size: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 1023px) {
      width: 50%;
      margin-bottom: 2%;
    }

    @media (max-width: 1280px) {
      font-size: 80%;
    }

    @media (min-width: 1920px) {
      width: 20%;
      font-size: 100%;
    }

    @media (min-width: 2560px) {
      width: 22.5%;
      font-size: 150%;
    }

    h1 {
      background-color: var(--primary-bg);
    }

    &_container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 600px) {
        width: 80%;
        height: 80%;
      }

      &_logo {
        width: 40%;
        height: 100%;
        background-image: url("/dofusgroup_logo_plein.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &_nav {
    width: 82.5%;
    padding: 1% 2% 1% 2%;
    background-color: var(--secondary-bg);
    font-size: 1.2rem;
    font-weight: var(--semi-bold);
    display: flex;
    align-items: center;
    border-radius: 1.5rem 0rem 0rem 1.5rem;

    @media (max-width: 1023px) {
      width: 100%;
      border-radius: 0rem;
    }

    @media (max-width: 600px) {
      height: 50%;
      font-size: 0.8rem;
    }

    @media (min-width: 1920px) {
      font-size: 1.4rem;
    }

    @media (min-width: 2560px) {
      font-size: 1.6rem;
      padding: 0% 2% 0% 2%;
    }

    &_list {
      width: 100%;
      margin: 0%;
      padding: 0;
      font-size: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      gap: 2%;

      &_item {
        width: 25%;
        padding: 2% 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;

        @media (max-width: 600px) {
          width: 33%;
          border-radius: 0.5rem;
        }

        .nav_link {
          width: 80%;
        }

        .nav_button {
          width: 90%;
          padding: 7.5% 15%;
        }
      }
    }
  }
}
