@use "../../assets/styles/variables";

.filter {
  width: 100%;
  padding: 0% 2% 2% 2%;
  font-size: 1.1rem;
  background-color: var(--secondary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;

  @media (max-width: 1023px) {
    font-size: 1.3rem;
    flex-direction: column;
  }

  @media (max-width: 600px) {
    width: 95%;
    margin: 0% auto;
  }

  @media (min-width: 1920px) {
    font-size: 1.3rem;
  }

  @media (min-width: 2560px) {
    font-size: 1.5rem;
  }

  &_item {
    width: 27.5%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_label {
      width: 85%;
      margin-top: 5.5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        margin-top: 2%;
        padding: 1% 2%;
      }
    }
  }

  button {
    width: 12%;
    margin: 2% 0% 0% 2%;
    padding: 1%;

    @media (max-width: 1023px) {
      width: 30%;
    }

    @media (min-width: 1920px) {
      width: 10%;
    }
  }

  &_items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_item {
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;

      &_label {
        width: 85%;
        margin-top: 5.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
          width: 100%;
          margin-top: 2%;
          padding: 1% 2%;
        }
      }
    }
  }
}
