.footer {
  width: 100vw;
  margin-top: 2%;
  padding: 2%;
  text-align: left;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    width: 100%;
  }

  @media (min-width: 1920px) {
    font-size: 1.3rem;
  }

  @media (min-width: 2560px) {
    font-size: 1.5rem;
  }

  &_container {
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }

    @media (min-width: 1920px) {
      width: 95%;
    }

    @media (min-width: 2560px) {
      width: 90%;
    }

    &_list {
      width: 30%;

      @media (max-width: 600px) {
        width: 90%;
      }

      h3 {
        width: 80%;
        border-bottom: 2px solid var(--primary-text);
      }

      ul {
        margin: 2.5% 0% 0% 0%;
        padding: 0;
        list-style: none;

        li {
          margin: 1% 0%;
        }

        a {
          color: var(--primary-text);
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

        a:visited {
          color: var(--primary-text);
        }
      }
    }
  }
}
