.verifyEmail {
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
  text-align: start;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1023px) {
    margin: 2% auto;
    font-size: 1rem;
  }

  @media (max-width: 600px) {
    font-size: 0.8rem;
  }

  @media (min-width: 1920px) {
    width: 75%;
    font-size: 1.3rem;
  }

  @media (min-width: 2560px) {
    width: 65%;
    font-size: 1.5rem;
  }

  header {
    width: 70%;
    margin-bottom: 2%;
    text-align: center;

    @media (max-width: 1023px) {
      width: 80%;
    }

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 10%;
      padding: 2% 4%;
    }
  }
}
